<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".week1.BasicComposeActivity"
            android:exported="false"
            android:label="Compose基础学习"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".week2.AdvancedLayoutActivity"
            android:exported="false"
            android:label="高级布局与组件"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".week2.GridLayoutActivity"
            android:exported="false"
            android:label="网格布局与自定义组件"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".week3.StateManagementActivity"
            android:exported="false"
            android:label="状态管理"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".week3.LifecycleAwareActivity"
            android:exported="false"
            android:label="生命周期感知组件"
            android:theme="@style/Theme.ComposeDemo" />
    </application>

</manifest>